*, ::after, ::before { box-sizing: border-box; }
* { font-family: Helvetica, sans-serif; }
code {
  background-color: #eee;
  font-family: courier, sans-serif;
}

/* Cartoon */
#cartoon {
  display: flex;
  flex-wrap: wrap;
}
.cartoon-panel {
  width: 100%;
}
.cartoon-panel img {
  border: 2px solid black;
  width: 100%;
}
.cartoon-panel h2 {
  margin-top: 1em;
}
@media (min-width: 600px) {
  .cartoon-panel {
    max-width: 400px;
  }
  .cartoon-panel h2 {
    margin: 0;
  }
}

/* Color scheme */
@media (prefers-color-scheme: dark) {
  a { color: rgb(68, 187, 219); }
  body { background-color: #252525; color: rgb(198, 201, 204); }
  code {
    background-color: #444;
  }
}
